body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #414141;
    color: white;
    
}
button{
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
}
